/* select#dropdownImage option[value="1"] {background-image:url('Assets/Currency/USD.png');}
select#dropdownImage option[value="0"] {background-image:url('Assets/Currency/USD.png');} */

    .container div #navbar {
	width: 900px;
	margin-top: -34px;
	margin-left: 149px;
}

    .container div #nav {
	width: 100%;
	padding: 0px;
	height: 1em; }
    .container #nav li {
        position: relative;
        list-style: none;
        padding: 0px;
	 }
     .container div #nav li a {
        display: none; 
        background: #db7872;
        width: 10em; /* Width to help Opera out */
        top: 0;
        left: 100%;
 }
 .container div #nav li ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
}
.container div #nav li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0; }
.container div #nav li:hover li {
	float: none; }

